h1 {
  background-color:rgb(235, 109, 25);
  width: 350px;
}
body {

    background-image: url("../images/honeycomb.jpg");
  }

  .container {
    width: 1010px;
    left: 0px;
    display: inline-block; 
  }

  /* #row { */
    /* float: left; */
  /* } */

  
  .gameTarget {
    background-color:  rgb(0, 255, 42);
  }