h1 {
  background-color:rgb(235, 109, 25);
  width: 350px;
}
body {

    background-image: url("../images/honeycomb.jpg");
  }

  .container {
    width: 1010px;
    left: 0px;
    display: inline-block; 
  }

  
  
  #gameTarget {
    font-size: 24px;
      color: rgb(4, 42, 73);
    background-color:  rgb(0, 255, 42);
  }

  #gameDesc {
    font-size: 14px;
    background-color: rgba(243, 168, 145, 0.952);
  }