h1 {
  background-color:rgb(235, 109, 25);
  width: 350px;
  
}
body {

    background-image: url("../images/honeycomb.jpg");
    padding: 10px;
  }

  .container {
    width: 1010px;
    left: 0px;
    display: inline-block; 
  }

  #gameDesc, #gameTarget, #win-loss, #gem0, #gem1, #gem2, #gem3, label, #playerScore  {
    margin-bottom: 5px;
  }
  
  #gameTarget {
    font-size: 24px;
      color: rgb(96, 9, 122);
    background-color:  rgb(0, 255, 42);
    width: 200px;
    margin-right: 5px;
  }

  #gameDesc {
    font-size: 12px;
    background-color: rgba(243, 168, 145, 0.952);
    color: green;
    
  }

  #win-loss {
    font-size: 12px;
    color: rgb(4, 42, 73);
  background-color:  rgba(11, 236, 150, 0.993);
  height: 90px;
  }

  #gem0, #gem1, #gem2, #gem3 {
    padding: 0px;
  }
label {
  
  width: 200px;
  color: #ffffff;
  
  padding-left: 5px;
}

  #playerScore {
   
  
    font-size: 18px;
    color: #ffffff;
  background-color: turquoise;
  width: 200px;
  height: 50px;
  padding: 5px;
 
  }

  